{% extends 'index/base.html' %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

      <div class="col">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Хотите удалить пользователя {{object.name}} {{object.surname}}?</p>
            <button type="submit" class="btn btn-danger">Удалить</button>
            <a href="{% url 'clients:clients_list' %}" class="btn btn-success">Отмена</a>
        </form>
      </div>

    </div>
{% endblock %}
