{% extends 'index/base.html' %}
{% block content %}
    <div class="row row-cols-1 text-center">
    <div class="col">
        {% if user.is_authenticated %}
        <p class="text-start ">
            <a href="{% url 'clients:add_client' %}" class="btn btn-primary">Добавить получателя</a>
        </p>
        {% endif %}

      <table class="table table-borderless">
        {% for client in object_list %}
          <tr>
              <td>
                {{ client.pk }}
              </td>
              {% if user.is_authenticated %}
              <td>
                <a href="{% url 'clients:client_profile' client.pk %}">{{ client.email }}</a>
              </td>
              {% endif %}
              <td>
                {{ client.name }} {{client.surname }}
              </td>
              <td>
                {{ client.comment | truncatechars:50 }}
              </td>
          </tr>
        {% endfor %}
    </table>

        </div>
    </div>
{% endblock %}